.#{$container-class} {
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @each $name, $breakpoint in $breakpoints {
    @media (min-width: $breakpoint) {
      width: map-get($container, $name);
    }
  }
}

.#{$grid-class} {
  // Fix to prevent row negative margin causing overflow when width = viewport width
  @include respond(xs) {
    overflow: hidden;
  }

  position: relative;
}

.#{$row-class} {
  @include respond(sm) {
    margin: 0 #{'-' + $gutter};
  }

  font-size: 0;
  margin: 0 #{'-' + $gutter};

  &:before,
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

.#{$column-class} {
  @include respond(sm) {
    display: inline-block;
    padding: 0 #{'-' + $gutter};
  }

  display: block;
  font-size: 1rem;
  padding: 0 $gutter;
  position: relative;
  text-align: left;
}
